fastapi==0.109.0
uvicorn==0.27.0
python-dotenv==1.0.1
pydantic==2.6.0
requests==2.31.0
python-multipart
pyjwt==2.8.0
black
isort
flake8

langchain>=0.1.16
langchain-google-genai>=1.0.3
langchain-community>=0.0.34
langchain-experimental>=0.0.57
google-generativeai>=0.5.0

# --- Vector Database ---
langchain-chroma>=0.1.0  
chromadb>=0.4.22

# --- SQL Database ---
psycopg2-binary==2.9.9
tiktoken==0.6.0